.ObjectsActivity {
    display: flex;
    flex-direction: column;
}


.ObjectsActivityFilter {
    width: 100%;
}

.GridRoot {
    max-height: 100%;
}
.IconList {
    max-height: 100%;

    display: flex;
    flex-direction: column;
}

.GridElementEditor {
    overflow: hidden;
    max-height: 100%;
}
